$font__1: 500 13px/15px "Roboto" sans-serif;
$font__2: normal 16px/24px "Roboto" sans-serif;
$font__3: normal 14px/21px "Roboto" sans-serif;
$font__4: normal 13px/21px "Roboto" sans-serif;
$font__5: normal 11px/13px "Roboto" sans-serif;
$font__6: bold 14px/15px "Roboto" sans-serif;
$font__7: normal 36px/42px "Roboto" sans-serif;
$font__8: normal 14px/16px "Roboto" sans-serif;
$font__9: normal 13px/15px "Roboto" sans-serif;
$font__10: normal 16px/19px "Roboto" sans-serif;
$font__11: normal 22px/34px "Roboto" sans-serif;
$font__12: bold 15px/21px "Roboto" sans-serif;
